* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: sans-serif;
}

.prices {
  margin: 50px 0;
  padding: 120px 0;
  background: url(../img/bg_prices.jpg);
}

.prices__title {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.prices__subtitle {
  margin-bottom: 90px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.prices__block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices-item {
  padding: 50px;
  background: #ffffff;
  margin-right: 40px;
}

.prices-item:last-child {
  margin-right: 0;
}

.prices-item__title {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #1a1820;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.prices-item__price {
  display: block;
  margin: 30px 0;
  color: #1a1820;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.prices-item__list {
  min-height: 145px;
  margin-bottom: 20px;
  list-style: none;
}

.prices-item__string {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.prices-item__icon {
  display: inline-block;
  margin-right: 5px;
}

.prices-item__text {
  color: #1a1820;
  font-size: 18px;
}

.prices-item__button {
  padding: 25px 60px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #ffba15;
  background-color: #ffb504;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.additional-service {
  margin-bottom: 50px;
  padding: 120px 0;
  color: #fcfcfc;
  background: #006b00;
}

.additional-service__title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.additional-service__subtitle {
  margin-bottom: 90px;
  font-size: 19px;
  text-align: center;
}

.additional-service__block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.additional-service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 110px;
}

.additional-service-item:last-child {
  margin-right: 0;
}

.additional-service-item__image {
  margin-bottom: 70px;
}

.additional-service-item__button {
  padding: 20px 50px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #ffba15;
  background-color: #ffb504;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */