* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
  background-color: #f4f5f7;
}
html {
  font-size: 10px;
}
/* Главный экран */
.container {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h2 {
  margin-top: 74px;
  font-size: 2rem;
  font-weight: 700;
  color: #95989a;
}
.header .social-icons {
  display: flex;
  flex-direction: row;
}
.header .social-icons a {
  font-size: 2.4rem;
  font-weight: 400;
  color: #95989a;
}
.header .social-icons--link {
  margin: 74px 10px;
}

.main {
  position: relative;
  display: flex;
  margin-bottom: 19rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
}
.main-content .main-title {
  margin-bottom: 14px;
  font-size: 2rem;
  font-weight: 400;
  color: #32325f;
}
.main-content h1 {
  margin-bottom: 26px;
  font-size: 4.8rem;
  font-weight: 700;
  color: #32325f;
}
.main-content p {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #32325f;
}
.main-content .price-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #32325f;
}
.main-content .price {
  font-size: 4.8rem;
  font-weight: 400;
  color: #525f7f;
}
.main-content .buttons {
  margin-top: 7rem;
}
.main-content .buttons a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.main-content .green-button {
  padding: 2rem 3rem;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: .6rem;
  background-color: #2dce89;
}
.main-content .blue-button {
  margin-left: 3rem;
  padding: 2rem 3.5rem;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  background-color: #5e72e4;
}
.main img {
  position: absolute;
  top: 65px;
  left: 60%;
  width: 39.2rem;
  height: 29.1rem;
}

.about {
  padding-top: 9rem;
  padding-bottom: 13rem;
  color: #32325f;
  background-color: #fff;
}
.about span {
  font-size: 2rem;
  font-weight: 400;
}
.about h2 {
  margin-top: 1.2rem;
  margin-bottom: 10rem;
  font-size: 4.8rem;
}
.about .wrapper-icons {
  display: flex;
  justify-content: space-between;
}
.about .icon-block {
  max-width: 22rem;
}
.about .icon {
  margin-bottom: 4rem;
  width: 8.5rem;
  height: 8.5rem;
}
.about .icon img {
  max-width: 8.5rem;
  max-height: 8.5rem;
}
.about .icon-block p {
  font-size: 2rem;
}

.people {
  padding-top: 9rem;
}
.people span {
  font-size: 2rem;
  font-weight: 400;
  color: #32325f;
}
.people h2 {
  margin-top: 1.2rem;
  margin-bottom: 6.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  color: #32325f;
}
.people .block-photo {
  display: flex;
  margin-bottom: 3.6rem;
}
.people .block-photo:last-child {
  margin-bottom: 10rem;
}
.people .photo {
  margin-right: 2.8rem; 
  width: 36.2rem;
  height: 25.4rem;
}
.people .photo:last-child {
  margin: 0;
}
.people .photo img {
  
  max-width: 36.2rem;
  max-height: 25.4rem;
}

.footer {
  display: flex;
  padding-top: 7.8rem;
  padding-bottom: 10rem;
  color: #ffffff;
  background-color: #32325f;
}
.footer a, .footer span {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.footer .container {
  display: flex;
}
.blocks-wrap {
  display: flex;
}
.block-requisites, .block-info, .block-contacts {
  display: flex;
  flex-direction: column;
}
.block-requisites h2, .block-info h2, .block-contacts h2{
  margin-bottom: 3.4rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.block-requisites, .block-info {
  margin-right: 13rem;
}