@media (max-width: 1399px) {
  html {
    font-size: 7px;
  }
  .main-content .buttons {
    display: flex;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 6px;
  }
  .main-content .buttons {
    display: flex;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 720px) {
  .main img {
    width: 29.2rem;
    height: 19.1rem;
  }
  .about .block-icons {
    display: flex;
    flex-direction: column;
  }
  .about .icon-block {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .block-photo-wrap {
    display: flex;
  }
  .block-photo {
    flex-direction: column;
  }
  .block-photo .photo {
    margin: 0;
  }
  .people {
    flex-direction: row;
  }
}

@media (max-width: 620px) {
  .main img {
    top: 120px;
    width: 19.2rem;
    height: 9.1rem;
  }
}
