@media (max-width: 1140px) {
  .people-photo img {
    max-width: 312px;
    max-height: 204px;
  }
}
@media (max-width: 576px) {
  .main-text, .section-heading, .about, .people, .footer {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons a:first-child {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-brand {
    margin-right: 0;
  }
}